body{
  background: #eaf1ff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.page{
  display: flex;
  justify-content: center;
}

.form-card{
  width: 600px;              
  background: white;        
  border-radius: 25px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  border: 1px solid #cfcfcf;
}

.title{
  font-weight: bolder;
  color: blue;
  text-align: center;
  margin-bottom: 16px;
  font-size: 18px;           
}
fieldset{
  border: 1px solid #cfcfcf;
  padding: 12px;
  margin-bottom: 14px;
}

legend{
  font-size: 20px;
  padding: 0 6px;
  font-weight:bolder;
}

label{
  display: block;           
  font-weight: bolder;
  margin: 8px 0 5px;         
  font-size: 12px;
}

input, select, textarea{
  width: 100%;
  padding: 7px 8px;
  border: 1px solid #777;
  outline: none;
  margin-bottom: 8px;
  font-size: 12px;
}

input[type="radio"],
input[type="checkbox"]{
  width: auto;
  margin-right: 6px;
}

.btns{
  display: flex;
  gap: 8px;
}

.btn{
  background: #1a56db;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}

.btn.primary{
  background: #003cff;
}

.btn:hover{
  opacity: 0.9;
  color:crimson;
}
